body {
    font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0;
    padding: 0;
    background-color:#18181A
}

header {
    width: 100%;
    height: 80px;
    background-color: #18181A;
}

.header-principal{
    display: flex;
    text-align: center;
    gap: 10px;
}

header nav{
    width: 50%;
    display: flex;
    flex-direction: row;
   
}

.enlaces {
    width: 300px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.enlaces a{
    text-decoration: none;
    display: flex;
    flex-direction:row;
    text-align: center;
    margin-right: 20px;
    color: white;
}

.enlaces img {
    margin-left: 250px;
    width: 80px;
    height: 80px;
}

.e2{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 40px;
    justify-content: center;

}

header nav .registro{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}


.registro {
    width: 300px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.registro a{
    text-decoration: none;
    display: flex;
    flex-direction:row;
    text-align: center;
    margin-right: 5px;
    color: white;
}

.e3{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 40px;
    justify-content: center;
}

.Banner-Bienvenida{
    width: 100%;
	max-width: 1800px;
	margin: auto;
	padding: 40PX;
	display: grid;
	grid-template-columns: 2fr 2fr;	
	gap: 20px;

}

div .jumbotron{
    border-radius: 10px;
	min-height: 300px;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.Banner-Textos{
    width: auto;
    height: auto;
    color: #fff;
    padding: 100px;
    margin: 0 0;
    text-align: center;

}

    
.Banner-Textos h1 {
    font-size: 48px;
    }

.Banner-Textos p {
    font-size: 25px;

}

.boton{
        width: 150px;
        height: 50px;
        background-color: #333;
        color: #fff;
        font-size: 17px;
        border-radius: 8px;
    }

.boton:hover{
        border: 2px solid #010000;
        box-shadow: 0 2px 2px #010000;
        color: 
    }

.div .blog {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 3fr;	
    gap: 50px;
}
    
.titulo {
    font-size: 24px;
    padding: 20px 0;
}

.Blog-principal{
    background-color: #333;
    color: #fff;
    font-size: 24px;
    padding: 20px 20px;

}

.Titulos{
    background-color: #333;
    text-align: center;
    line-height: 50%;
}

.linea1{
    font-size: 15px;

}

.linea2{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

.linea3{
    font-size: 18px;
    font-weight: 500;
}
    
.Clases-guitarra {
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
    
.card {
    background-color: #333;
    text-decoration: none;
    text-align:left;
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 100px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
        
}
    
.card .textos {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
    text-decoration: none;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,;  


}




.card2 {
    background-color: #333;
    margin: 50px;
    border-radius: 10px;
    min-height: 500px;
    font-weight: bold;
    padding: 50px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position:left;

}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "menu content";
  grid-template-columns: 2fr 2fr;
  gap: 5px;
  background-color: #232327;
  padding: 5px;
}
.container > div {
  background-color:#232327;
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  font-size: 50px;
  text-align: center;
}
.container > div.menu {
  grid-area: menu;
  background-image: url(star.jpg);
  background-color: #333;
  margin: 0px;
  border-radius: 10px;
  min-height: 500px;
  font-weight: bold;
  padding: 50px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position:center;


  
}
.container > div.content {
  grid-area: content;
  font-size: 40px;
  margin: 20px 150px;
}

.container > div.content .p1 {
     grid-area: content;
    font-size: 20px;

}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-media a:hover {
    color: #ccc;
}

.fab {
    font-size: 24px;
}
@media screen and (max-width: 900px) {
    div .jumbotron {
        width: 400px;
        height: 400px;
    }
    .Banner-Textos{
        width: -500px;
        height: -500px;
        padding: 15px
    }

    .Banner-Textos h1 {
    font-size: 35px;
    }

.Banner-Textos p {
    font-size: 18px;

}
    .Banner-Bienvenida{
        padding: 5px;
    
    }


	
}

@media screen and (max-width: 700px) {
    nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 10px; 
    }

    .enlaces{
        justify-content: end;
    }

    .enlaces li {
        padding: 0px;
        width: 100px ;
        height: 45px;
    }

    .enlaces img {
      margin: -15px 70px;

    }

 .enlaces a{
    text-decoration: none;
    display: flex;
    flex-direction:column;
    text-align: left;
    margin-right: 20px;
    color: white;
    }

    .card {
        width: 30px;
        height: 10px;
        padding-right: 35%;

    }
    .card .textos h3{
        font-size: 20px; 
        padding: 0;
        margin-top: -100px;
        margin-left: -90px;
        width: 100px;
        height: 50px;
         display: flex;
    flex-direction: column;	
    }

    .card .textos p{
        font-size: 20px; 
        padding: 0;
        margin-top: 280px;
        margin-left: -90px;
        width: 100px;
        height: 50px;
         display: flex;
        flex-direction: column;	
    }
    .container > div.content {
        grid-area: content;
        font-size: 100px;
        margin: 20px 150px;
    }

    .container > div.header {
  grid-area: header;
  font-size: 25px;
  text-align: center;
  padding-right: 0px;
}

.container > div.content {
  grid-area: content;
  font-size: 20px;
  margin: 10px 10px;
}

.container > div.content .p1 {
     grid-area: content;
    font-size: 15px;
    

}

.container > div.menu {
  grid-area: menu;
  width: 100px;
  height: 300px;
  background-color: #333;
  margin: 20px;
  border-radius: 10px;
  min-height: 100px;
  font-weight: 100px;
  padding: 100px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position:center;


  
}





   


    
}

@media .menu screen and (max-width: 600px) {


}